@page
@model GestionApp.Pages.Asignadas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Asignada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Asignada.Id" />
            <div class="form-group">
                <label asp-for="Asignada.IdMateria" class="control-label"></label>
                <input asp-for="Asignada.IdMateria" class="form-control" />
                <span asp-validation-for="Asignada.IdMateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asignada.IdProfesor" class="control-label"></label>
                <input asp-for="Asignada.IdProfesor" class="form-control" />
                <span asp-validation-for="Asignada.IdProfesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asignada.Horario" class="control-label"></label>
                <input asp-for="Asignada.Horario" class="form-control" />
                <span asp-validation-for="Asignada.Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asignada.Salon" class="control-label"></label>
                <input asp-for="Asignada.Salon" class="form-control" />
                <span asp-validation-for="Asignada.Salon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
